<section id="page-detail">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-12">
                 <img src="../../assets/elsa-noblet-5KD5PmZEfcg-unsplash.jpg" class="img-responsive img-height">
              </div>
           </div>
        </div>
        <hr>
        <div class="cotainer-fluid">
           <nav class="" role="navigation">
              <div class="navbar-header navbar-header-center">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>    
              </div>
              <div class="clearfix"></div>
              <div class="navbar-collapse collapse navbar-buttom">
                 <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Actor</a></li>
                    <li><a href="#about">Comedian</a></li>
                    <li><a href="#about">Model</a></li>
                    <li><a href="#contact">Musigian</a></li>
                 </ul>
              </div>
           </nav>
        </div>
        <hr>
        <div class="container">
           <div class="container">
              <p class="col-md-offset-5 col-md-3 text-stories">Our Stories</p>
              <hr class="col-md-offset-5 col-md-1 hr-line">
           </div>
           <div class="fx1">
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/1.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/2.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/10.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
           </div>
           <div class="fx2">
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/4.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/5.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/6.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
           </div>
           <div class="fx3">
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/1.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/10.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/2.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
           </div>
           <div class="fx5">
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/3.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/4.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/5.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
           </div>
           <div class="fx2">
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/4.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/5.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
              <a href="#">
                 <div class="item col4">
                    <img class="transition img-responsive" src="../../assets/6.jpg">
                    <h4>title image</h4>
                    <p>Description</p>
                 </div>
              </a>
           </div>
        </div>
        <hr>
        <div class="container-fluid">
                <div class="container">
                        <p class="col-md-offset-5 col-md-4 text-profile">Profile Detail</p>
                        <hr class="col-md-offset-5 col-md-1 hr-line">
                     </div>
           <div class="row">
              <div class="col-md-12">
                 <img src="../../assets/elsa-noblet-5KD5PmZEfcg-unsplash.jpg" class="img-responsive img-height">
              </div>
           </div>
        </div>
        <div class="container">
           <p class="col-md-offset-5 col-md-4 text-news">Letest News</p>
           <hr class="col-md-offset-5 col-md-1 hr-line">
        </div>
        <div class="container Stories-page-margin">
           <div class="row">
              <div class="col-md-4">
                 <img src="../../assets/10.jpg" class="img-responsive image-height">
                 <div class="col-md-12">
                    <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <iframe width="98" height="80" src="https://www.youtube.com/embed/j6muwUGdvXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <div class="col-md-12">
                    <p class="text-margin-color">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/8.jpg" class="img-responsive image-height">
                 <div class="col-md-12">
                    <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
           </div>
        </div>
        <br>
        <div class="container Stories-page-margin">
           <div class="row">
              <div class="col-md-4">
                 <img src="../../assets/2.jpg" class="img-responsive image-height">
                 <div class="col-md-12">
                    <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/12.jpg" class="img-responsive image-height">
                 <div class="col-md-12">
                    <p class="text-margin-color">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/5.jpg" class="img-responsive image-height">
                 <div class="col-md-12">
                    <p class="text-margin">5 Reasons To Keep Your <br> Beauty of Salon<br>Reserveation</p>
                    <p class="date">8 March 2020</p>
                 </div>
              </div>
           </div>
        </div>
     </section>