<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/9.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
                    <h1 class="text-top">MITLENT</h1>
                    <span>
                       <p class="d-text">W</p>
                       <p class="text-design"> e developer the best debitis molestias<br>& maxime similique! Nesciunt .</p>
                    </span>
                    
                    <p class="text-p">"Developer is the best ut it a best iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque a ab illo quae ab illo veritatis et ipsa quae ab illo veritatis et quasi architecto beataeab illo veritatis et vitae!"</p>
                    <div class="col-md-6" >
                    <span class="glyphicon glyphicon-home home-icon"></span>
                    <p class="addresh"> 79-81 MR-9 Square</p>
                    <p class="addresh-1">Indore</p>
                    <p class="addresh-1">EC9238 9TT</p>
                     </div>
                     <div class="col-md-6" >
                        <span class="glyphicon glyphicon-earphone home-icon"></span>
                        <p class="addresh">+44 [0] 233 567 891</p>
                        <p class="addresh-1">+44 [0] 244 568 990</p>
                    </div>
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-envelope home-icon"></span>
                        <p class="addresh">hellow@mitlent24567.com</p>
                    </div>
             </div>
             <div class="col-md-2">
                <img src="../../assets/7.jpg" class="img-responsive img-right">
             </div>
        </div>
    </div>
</section>