.text-top{
    font-size: 40px;
}
.d-text{
    font-size: 54px;
    margin-top: 40px;
}
.text-design
{
    font-size: 17px;
    margin-top: -73px;
    margin-left: 57px;
    text-justify: auto;
}
.addresh
{
    margin-left: 26px;
    margin-top: -19px;
    color: gray;
}
.addresh-1{
    margin-left: 28px;
    color: gray;
}
.home-icon
{
    margin-top: 43px;
    color: gray;
}
.img-right{
    height: 277px;
    margin-top: 124px;
}