<section id="blog">
        <div class="container">
           <div class="row">
              <div class="col-md-4">
                 <img src="../../assets/9.jpg" class="img-responsive image-top-height" >
              </div>
              <div class="col-md-8">
                 <p class="top-text col-md-6">MITALENT</p>
                 <div class="col-md-6">
                    <img src="../../assets/14.jpg" class="img-responsive">
                    <P class="text-margin-top"> 5 Reasons To Keep Your Beauty of<br> Salon Reserveation</P>
                    <p class="date-time">8 March 2019 </p>
                 </div>
                 <div class="col-md-6">
                    <div class="col-md-12">
                       <img src="../../assets/1.jpg" class="img-responsive image-height-1">
                       <div class="col-md-12">
                          <p class="text-margin">5 Reasons Keep Your<br> Beauty of a Salon is<br>Reserveation</p>
                          <p class="date">8 March 2020</p>
                       </div>
                    </div>
                    <div class="col-md-12">
                       <img src="../../assets/14.jpg" class="img-responsive image-height">
                       <div class="col-md-12">
                          <p class="text-margin-color">5 Reasons Keep Your <br> Beauty of Salon<br>Reserveation</p>
                          <p class="date">8 March 2020</p>
                       </div>
                    </div>
                    <div class="col-md-12">
                       <img src="../../assets/11.jpg" class="img-responsive image-height">
                       <div class="col-md-12">
                          <p class="text-margin">5 Reasons Keep Your<br> Beauty of a Salon is<br>Reserveation</p>
                          <p class="date">8 March 2020</p>
                       </div>
                    </div>
                    <div class="col-md-12">
                       <img src="../../assets/12.jpg" class="img-responsive image-height">
                       <div class="col-md-12">
                          <p class="text-margin">5 Reasons Keep Your<br> Beauty of a Salon is<br>Reserveation</p>
                          <p class="date">8 March 2020</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="container">
           <div class="row">
              <div class="col-md-4" style="height:900px;">
              </div>
              <div class="col-md-8">
                 <img src="../../assets/10.jpg" class="img-responsive img-margin">
                 <p class="big-img">How Great Is The Strength Beauty of a Salon is Reserveation</p>
                 <p class="big-img-data">8 March 2020</p>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/4.jpg" class="img-responsive">
                 <p class="big-img">How Great Is The Strength Beauty of a Salon.</p>
                 <p class="big-img-data">15 March 2020</p>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/6.jpg" class="img-responsive">
                 <p class="big-img">How Great Is The Strength Beauty of a Salon.</p>
                 <p class="big-img-data">12 March 2020</p>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/1.jpg" class="img-responsive">
                 <p class="big-img">How Great Is The Strength Beauty of a Salon.</p>
                 <p class="big-img-data">15 March 2020</p>
                 <div>
                    <a class="pull-left link-left"><span class="glyphicon glyphicon-arrow-left"></span> Explore more </a>
                 </div>
              </div>
              <div class="col-md-4">
                 <img src="../../assets/10.jpg" class="img-responsive">
                 <p class="big-img">How Great Is The Strength Beauty of a Salon.</p>
                 <p class="big-img-data">12 March 2020</p>
                 <div>
                    <a class="pull-right link-right">Explore more <span class="glyphicon glyphicon-arrow-right"></span> </a>
                 </div>
              </div>
              <hr>
              <div class="container">
                 <div class="row">
                    <div class="col-md-6">
                       <p class="small-text">Our Clints</p>
                       <hr class="hr-line">
                    </div>
                    <div class="col-md-6">
                       <p class="p-text-margin">"Developer is the best ut natus error sit voluptatem ut natus error sit voluptatem doloremque<br /> beataeab illo quae ab illo veritatis  et quasi architecto beataeab illo veritatis et vitae!"</p>
                       <div class="link-m">
                          <a class="link-right">Explore more <span class="glyphicon glyphicon-arrow-right"></span> </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <hr>
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/6.jpg">
                    <div class="overlay">
                       <h2>Comedian</h2>
                       <p><a href="#">New York</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/1.jpg">
                    <div class="overlay">
                       <h2>Comedian</h2>
                       <p><a href="#">Indian</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/8.jpg">
                    <div class="overlay">
                       <h2>Comedian</h2>
                       <p><a href="#">Singapur</a></p>
                    </div>
                 </div>
                 <div class="hovereffect" style="width: 25%;">
                    <img class="img-responsive img-set" src="../../assets/2.jpg">
                    <div class="overlay">
                       <h2>Comedian</h2>
                       <p><a href="#">Chen</a></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <hr>
     </section>