<section id="comedyan">
        <div class="container">
           <div class="row">
              <div class="col-md-8">
                 <p class="pull-right top-text">MITALENT</p>
                 <div class="col-md-12 contant-box">
                    <img src="../../assets/10.jpg" class="img-responsive img-height ">
                 </div>
                 <p class="center-text">Derek<br>Anderson</p>
                 <p class="center-text-p">BRITISH COMEDIAN</p>
              </div>
              <div class="col-md-4 side-box">
                 <img src="../../assets/9.jpg" class="img-responsive side-img"> 
              </div>
           </div>
        </div><hr>
        <div style="clear: both"></div>
        <div class="cotainer-fluid">
                <nav class="" role="navigation">
                   <div class="navbar-header navbar-header-center">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>    
                   </div>
                   <div class="clearfix"></div>
                   <div class="navbar-collapse collapse navbar-buttom">
                      <ul class="nav navbar-nav navbar-center">
                         <li><a href="#">Actor</a></li>
                         <li><a href="#about">Comedian</a></li>
                         <li><a href="#about">Model</a></li>
                         <li><a href="#contact">Musigian</a></li>
                      </ul>
                   </div>
                </nav>
             </div><hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/9.jpg" class="img-responsive left-image">
                </div>
                <div class="col-md-6">
                    <p class="profile-text">Profile.</p>
                  <span>
                     <p class="text-design">Developer the best debitis molestias<br>& maxime similique! Nesciunt.</p>
                     <p class="text-design"> <span class="glyphicon glyphicon-heart"></span> British award 2020</p>
                </span>
                <p class="text-p">"Developer is the best ut it a best iste natus error sit voluptatem doloremque<br> laudantium, totam rem aperiam, eaque a ab illo quae ab illo veritatis et ipsa<br /> quae ab illo veritatis et quasi architecto beataeab illo veritatis et vitae!"</p>
                <p class="text-p">"Set is the best ut it a best iste lorem natus error sit voluptatem doloremque<br> laudantium, totam rem aperiam, eaque a ab illo quae ab illo veritatis et ipsa<br /> quae ab illo veritatis et quasi architecto beataeab illo veritatis et vitae!"</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-6">
                    <p class="profile-text">Derek Anderson<br>on press.</p>
                    <div class="col-md-12">
                            <img src="../../assets/1.jpg" class="img-responsive image-height">
                            <div class="col-md-12">
                                <p class="text-margin">25 Motivestionl queck qustion<br>it about Reasons To Keep Your <br> Beauty of your Salon<br>Reserveation</p>
                                <p class="date">8 March 2020</p>
                            </div>
                        </div>
                        <div class="col-md-12   ">
                                <iframe width="120" height="100" src="https://www.youtube.com/embed/j6muwUGdvXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="video-maegin"></iframe>
                                <div class="col-md-12">
                                    <p class="text-margin-color">5 Reasons To Keep queck Your <br> about your Beauty of Salon<br> mind Reserveation</p>
                                    <p class="date-2">8 March 2020</p>
                                </div>
                            </div>
                            <div class="link-margin">
                                <a>Explore more <span class="glyphicon glyphicon-arrow-right"></span> </a>
                            </div>
                   
                </div>
                <div class="col-md-6">
                        <img src="../../assets/7.jpg" class="img-responsive left-image">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="small-text">Similar Clints</p>
                    <hr class="hr-line">
                </div>
                <div class="col-md-6">
                        <p class="p-text-margin">"Developer is the best ut natus error sit voluptatem doloremque<br /> quae ab illo veritatis et quasi architecto beataeab illo veritatis et vitae!"</p>
                        <div class="link-m">
                            <a>Explore more <span class="glyphicon glyphicon-arrow-right"></span> </a>
                        </div>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="row">
                        <div class="col-md-12" >
                           <div class="hovereffect" style="width: 25%;">
                              <img class="img-responsive img-set" src="../../assets/6.jpg">
                              <div class="overlay">
                                 <h2>Comedian</h2>
                                 <p><a href="#">New York</a></p>
                              </div>
                           </div>
                           <div class="hovereffect" style="width: 25%;">
                              <img class="img-responsive img-set" src="../../assets/1.jpg">
                              <div class="overlay">
                                 <h2>Comedian</h2>
                                 <p><a href="#">Indian</a></p>
                              </div>
                           </div>
                           <div class="hovereffect" style="width: 25%;">
                              <img class="img-responsive img-set" src="../../assets/8.jpg">
                              <div class="overlay">
                                 <h2>Comedian</h2>
                                 <p><a href="#">Singapur</a></p>
                              </div>
                           </div>
                           <div class="hovereffect" style="width: 25%;">
                              <img class="img-responsive img-set" src="../../assets/2.jpg">
                              <div class="overlay">
                                 <h2>Comedian</h2>
                                 <p><a href="#">Chen</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
        
        </div>
     </section>